@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fa-counter-scale: scale(4);
}

body * {
  @apply transition-colors duration-[35ms];
}

a:not(.no-style) {
  @apply font-bold text-link hover:text-link-hover cursor-pointer;
}

/* 1. declare transition */
.list-fade-move,
.list-fade-enter-active,
.list-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.list-fade-enter-from,
.list-fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.list-fade-leave-active {
  position: absolute;
}
