@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fa-counter-scale: scale(4);
}

body * {
  @apply transition-colors duration-[35ms];
}
